@font-face {
  font-family: "iconfont"; /* Project id 2381906 */
  src: url('iconfont.woff2?t=1652057972855') format('woff2'),
       url('iconfont.woff?t=1652057972855') format('woff'),
       url('iconfont.ttf?t=1652057972855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

